<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<title>Teacher</title>
<div th:replace="header.html"></div>
<body>
<div class="container my-5">
    <h3> Update Teacher</h3>
    <div class="card">
        <div class="card-body">
            <div th:if="${teacher.img}" ><img  border="1%" align="right" width="15%", height="25%" th:src="@{'data:image/jpeg;base64,'+${teacher.img}}"/>
            </div>
                <div class="col-md-8">
                <form action="#"
                      th:action="@{/teachers/update/{id}(id=${teacher.id})}"
                      th:object="${teacher}" method="post"enctype="multipart/form-data">
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label for="name" class="col-form-label">Name</label> <input
                                type="text" th:field="*{name}" class="form-control" id="name"
                                placeholder="Name"> <span
                                th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="surname" class="col-form-label">Surname</label> <input
                                type="text" th:field="*{surname}" class="form-control" id="surname"
                                placeholder="Surname"> <span
                                th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
                                class="text-danger"></span>

                            </div>
                            <div class="form-group col-md-8">
                                <label for="image" class="col-form-label"></label> <input
                                    type="file" class="form-control"
                                    id="image" name="image" placeholder="img">
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary"
                                   value="Update Teacher">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>